.Titulo{
    text-align: center;
    background-color: rgb(255, 179, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px rgb(255, 179, 39) solid;
}
img{
    width: 100px;
    height: 100px;
}
table{
    border: 2px maroon solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    
}
th{
    border: 2px maroon solid;
}

.Product{
    display: inline-block;
    width:400px ;
    height: 200px;
    border: 2px maroon solid;
    margin: auto;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
}
